<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>

        <table>
            <thead>
            <tr>
                <th>team ID</th>
                <th>team name</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${team.key}"></td>
                <td>
                    <a th:href="@{http://localhost:8080/teampage/{id}(id=${team.key})}"/>
                        <td th:text="${team.value}"></td>
                </td>
            </tbody>
        </table>
        <a href="http://localhost:8080/fixed/makeTeam">
            <div class="buttonBox">
                팀추가
            </div>
        </a>
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th>Schedule Title</th>
                <th>Schedule Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sc : ${schedules}">
                <!--        ${} : 모델 안에 있는 값을 꺼내는 것 -->
                <td th:text="${sc.key}"></td>
                <td th:text="${sc.value}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>