.detail1 {

    background-image: url('img/detailSchedule.png');

}
.detail2{
    background-image: url('img/detailSchedule2.png');

}
.detail3{
    background-image: url('img/detailSchedule.png');

}
.detail4{
    background-image: url('img/detailSchedule2.png');

}

.test{
    background-image :url('/img/detailSchedule.png');
    background-size: 300px 50px;
    background-repeat: no-repeat;
    margin-top:15px;
    width:300px;
    height:50px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content:center;
}