<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회의록 추가하기</title>

    <link rel="stylesheet" href="/css/paper.css"/>
</head>
<body>
<div class="topBar" style=" width:90%; line-height: 40px; border-bottom: solid #A0CD63 3px; display: flex; flex-direction: row; justify-content: space-between; margin-left:5%; margin-right:5%;">
    <img src="/img/backButton.png" onclick="history.back()" style="width:40px; cursor:pointer;">
    <img src="/img/logoImage.png" style="width:50px; margin-bottom: 5px;">
    <a th:href="@{http://localhost:8080/mypage/{uid}(uid=${uid})}">
        <img src="/img/mypageButtonGreen.png" style="width:40px; height:40px; cursor:pointer;">
    </a>
</div>
<div class="inner">
    <div class="menuTitleBox">
        <img src="/img/paperIcon.png" class="paperIcon">
        <h2 class="menuTitle">회의록 추가하기</h2>
    </div>
    <form action="/teampage/new" method="post">
        <div class="writeTitleBox" >
            회의록 제목 : <input id = "note_title" name ="note_title" type="text" class="writeTitleInput">
        </div>
        <div class="writeContentBox">
                <textarea id = "note_content" name ="note_content">
                </textarea>
        </div>
        <input type="submit" value="Save" id="submitButton">
        <input type="hidden" id="team_id" name="team_id" th:value="${team_id}">
    </form>

</div>

</body>
</html>