<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/paper.css" />
</head>
<body>
<div class="topBar" style=" width:90%; line-height: 40px; border-bottom: solid #A0CD63 3px; display: flex; flex-direction: row; justify-content: space-between; margin-left:5%; margin-right:5%;">
    <img src="/img/backButton.png" onclick="history.back()" style="width:40px; cursor:pointer;">
    <img src="/img/logoImage.png" style="width:50px; margin-bottom: 5px;">
    <a th:href="@{http://localhost:8080/mypage/{uid}(uid=${uid})}">
        <img src="/img/mypageButtonGreen.png" style="width:40px; height:40px; cursor:pointer;">
    </a>
</div>
    <div class="inner">
        <div class="menuTitleBox">
            <img src="/img/paperIcon.png" class="paperIcon">
            <h2 class="menuTitle">회의록</h2>
        </div>
        <div>
            <div class="writeTitleBox" >
                <p class="writeTitleInput" style="margin-top:13px;" th:text="${meetNote.note_title}">제목이야 이거는 제목이다</p>
            </div>
            <div class="writeContentBox">
                <div class="content">
                    <p style="font-size: 15px;" th:text="${meetNote.note_content}">내용이다</p>
                </div>
            </div>
            <p th:text="${meetNote.write_date}"></p>
        </div>
        
    </div>
    
</body>
</html>