<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지_팀별화면</title>


    <style>
        .inner {
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center;
        }
        .topBox {
            display: flex;
            flex-direction: row;
            justify-content: baseline;
            align-items: center;
        }
    </style>

    <link rel='stylesheet' type='text/css' href='/css/teampage.css'>
    <link rel='stylesheet' type='text/css' href='/css/calendar.css'>

<!--    <script type = "text/javascript" src='/js/calendar.js'></script>-->

</head>
<body>
<div class="inner">
    <h1 style="margin-right:1000px; margin-bottom: 30px; margin-top:30px;" th:text="${team.name}">팀명입니다</h1>
    <div class="topBox" style = "margin-bottom: 100px">
        <div class="calendarBox" style="margin-left: 100px">
            <div class = "left" style = "width : 600px;">

                <div id="setTable"></div>
<!--                <script type = "text/javascript" src='/js/calendar.js'></script>-->
            </div>
        </div>
        <div class style="width: 150px;"></div>
        <div class="detailSchedule">

            <div class = "right" style = "width : 497px; margin-bottom: 30px;">

                <h2 style="margin-bottom:30px;">세부 일정
                    <a th:href="@{http://localhost:8080/fixed/{teamid}(teamid=${team._id})}">
                        <button class = "addSchedule"
                                style="margin-left:auto;
                            font-size:20px; color:white;
                            background-color: #A0CD63; border-radius: 20px;
                            margin-top:20px; border:none; width:150px;
                            height:40px; cursor:pointer;">일정 추가</button>
                    </a>

                </h2>
                <tbody>

                <tr th:each="finalSchedule : ${finalSchedules}">
                    <div class="team-schedule" style="width:400px; background-size: 400px 50px;">
                    <td th:text="${finalSchedule.schedule_title}"></td>
                    <td th:text="${finalSchedule.final_date}"></td>
                    <td th:text="${finalSchedule.final_start_hour}+' :'"></td>
                    <td th:text="${finalSchedule.final_start_min}+' ~'"></td>
                    <td th:text="${finalSchedule.final_end_hour}+' :'"></td>
                    <td th:text="${finalSchedule.final_end_min}"></td>
                    <br/>
                    </div>
                </tr>
                </tbody>
            </div>

        </div>
    </div>
    <div class="bottomBox"  style="display:flex; flex-direction: column;justify-content: center; width:1000px;">
        <div class="bottomTopBox" style="display: flex; flex-direction: row; line-height: 40px;justify-content: space-between;">
            <h3 style="margin-left:15px;">회의록</h3>
            <a style="margin-top:0px;text-decoration: none; background-color: #A0CD63; line-height:40px; width:40px; height:40px; border-radius:20px; color:white; font-size: 40px; text-align: center; align-items: center; display:flex; justify-content:center;"
               th:href="@{http://localhost:8080/teampage/new/{teamid}(teamid=${team._id})}">+</a>
        </div>
                    <tr th:each="note : ${notes}">
                        <div class="paperItemBox" style="display: flex; flex-direction: row;">
                        <div style="background-color:#CFE6B1; width:200px; height:40px; border-radius: 10px;  text-align: center; align-items: center; display:flex; justify-content:center;">
                            <td style="margin-top:0px; " th:text="${note.write_date}"></td>
                        </div>

                        <div style="border:solid 2px; border-radius: 10px; border-color: #A0CD63; width:800px;line-height: 40px;">
                        <a style="margin-left: 10px; text-decoration: none; color:inherit" th:href="@{http://localhost:8080/teampage/notes/{noteid}(noteid=${note.note_id})}"
                            th:text="${note.note_title}"/>
                        </div>
                        </div>
                    </tr>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
var scheduleYes=/*[[${schedules}]]*/;
//scheduleYes = /*[[${schedules}]]*/; ///여기다가 스케줄 밑에 형식으로 넣으면 됩니다
//scheduleYes.push("12/13/2021");
console.log(scheduleYes);
var today = new Date();
var dates = new Array(35);
var months = new Array(35);
var years = new Array(35);
var plus = 0;
var startDay = today.getDay();
for (var i = startDay; i < 35; i++) {
    var TODAY = new Date();
    var temp = new Date(TODAY.setDate(TODAY.getDate() + plus));
    plus++;
    dates[i] = temp.getDate();
    months[i] = temp.getMonth() + 1;
    years[i] = temp.getFullYear();
}

var tableAddr = new Array(6);
var table = document.createElement("table");
table.setAttribute("id", "table");
//table.setAttribute("border",1);
var dateCount = 0;
var monthCount = 0;
var totalDateCount = 0;
for (var i = 0; i < 6; i++) {
    tableAddr[i] = new Array(8);
    tableAddr[i] = document.createElement("tr");
    for (var j = 0; j < 8; j++) {
        if (i == 0) {//맨위 요일 적는곳
            tableAddr[i][j] = document.createElement("th");
            tableAddr[i][j].style.fontWeight = "normal";
            var pp = document.createElement("p");
            var dayText = "";
            switch (j) {
                case 1: dayText = "일"; break;
                case 2: dayText = "월"; break;
                case 3: dayText = "화"; break;
                case 4: dayText = "수"; break;
                case 5: dayText = "목"; break;
                case 6: dayText = "금"; break;
                case 7: dayText = "토"; break;
            }
            var dayTextNode = document.createTextNode(dayText);
            tableAddr[i][j].appendChild(dayTextNode);
        } else {
            if (j == 0) { //왼쪽 몇월인지 적을곳
                tableAddr[i][j] = document.createElement("th");
                tableAddr[i][j].style.fontWeight = "normal";
                var divv = document.createElement("div");
                var monthTextNode = document.createTextNode(months[monthCount + 6] + "월");
                divv.appendChild(monthTextNode);
                tableAddr[i][j].appendChild(divv);
                monthCount += 7;
            } else {
                tableAddr[i][j] = document.createElement("td");
                //tableAddr[i][j].style.backgroundColor="red";
                tableAddr[i][j].setAttribute("width", 40);
                tableAddr[i][j].setAttribute("height", 50);
                var divv = document.createElement("div");
                divv.setAttribute("id", years[totalDateCount] + "-" + months[totalDateCount] + "-" + dates[totalDateCount]);
                totalDateCount++;
                divv.style.borderRadius = "5px";
                divv.style.backgroundColor = "#d5d5d5";
                divv.style.textAlign = "center";

                divv.setAttribute("width", 40);
                divv.setAttribute("height", 50);
                var dateText = "";
                if (dates[dateCount] != undefined) {
                    dateText = dates[dateCount];
                    var dateTextNode = document.createTextNode(dateText);
                    divv.appendChild(dateTextNode);
                    divv.style.padding = "5px";
                    divv.style.paddingTop = "10px";
                    divv.style.paddingBottom = "10px";
                }
                dateCount++;
                tableAddr[i][j].appendChild(divv);

            }
        }
        tableAddr[i].appendChild(tableAddr[i][j]);
    }
    table.appendChild(tableAddr[i]);
}
document.getElementById("setTable").appendChild(table);

for (var i = 0; i < scheduleYes.length; i++) {
    document.getElementById(scheduleYes[i]).style.backgroundColor = "#A0CD63"; //색깔 테스트용
}

/*]]>*/
</script>
</body>
</html>