<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>메인페이지_팀별화면</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>** 확정 스케줄 이름</th>
                <th> ** 확정 날짜</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="finalSchedule : ${finalSchedules}">
                <td th:text="${finalSchedule.schedule_title}"></td>
                <td th:text="${finalSchedule.final_date}"></td>
                <td th:text="${finalSchedule.final_start_hour}+' :'"></td>
                <td th:text="${finalSchedule.final_start_min}+' ~'"></td>
                <td th:text="${finalSchedule.final_end_hour}+' :'"></td>
                <td th:text="${finalSchedule.final_end_min}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>** 회의록 이름</th>
                    <th>** 회의록 내용</th>
                    <th>** 회의록 회의날짜</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td th:text="${note.note_title}"></td>
                <td th:text="${note.note_content}"></td>
                <td th:text="${note.write_date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
