
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다회성 팀 만들기</title>
    <link rel="stylesheet" href="/css/makeTeam.css" />
</head>
<body>
<div class="topBar" style=" width:90%; line-height: 40px; border-bottom: solid #A0CD63 3px; display: flex; flex-direction: row; justify-content: space-between; margin-left:5%; margin-right:5%;">
    <img src="/img/backButton.png" onclick="history.back()" style="width:40px; cursor:pointer;">
    <img src="/img/logoImage.png" style="width:50px; margin-bottom: 5px;">
    <a th:href="@{http://localhost:8080/mypage/{uid}(uid=${uid})}">
        <img src="/img/mypageButtonGreen.png" style="width:40px; height:40px; cursor:pointer;">
    </a>
</div>
<div class="inner">
    <form action="/fixed/makeTeam" method="post">
        <div class="nicknameBox">
            <input id = "team_name" name ="team_name" type="text" class="nicknameInputBox" placeholder="팀 이름 입력">
        </div>
        <div class="nicknameBox">
            <input id = "invited_members" name ="invited_members" type="text" placeholder="초대할 팀원 이메일 입력">
        </div>
        <input class="saveButton" type="submit" value="팀 생성하기">
        <div>
            <p th:text="${msg}">하이</p> <!--    이 msg 값을 alert로 띄워주시면 됩니다-->
        </div>
    </form>
</div>

</body>
</html>