<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>다회성 팀 만들기</title>
</head>
<body>
<div>뒤로가기 버튼 있으면 좋겠어요</div>
<form action="/fixed/makeTeam" method="post">
    팀 이름 입력 : <input id = "team_name" name ="team_name" type="text" placeholder="팀명을 입력하세요"> <br>

    초대할 팀원 이메일 입력 : <input id = "invited_members" name ="invited_members" type="text" placeholder="초대할 팀원 이메일 입력"> <br>

    <input type="submit" value = "팀 생성하기">
    <div>
        <p th:text="${msg}">하이</p> <!--    이 msg 값을 alert로 띄워주시면 됩니다-->
    </div>

</form>
</body>
</html>