<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 일회성_메인페이지_초대된사람_입장후_이름입력후 -->
<h3>This is a Meet Once Page  -> 배열 어떻게 만드는지 몰라서 일단 그냥 컨트롤러에서 랜덤하게 배열 생성해서 저장하게 해볼게요 (테스트용)</h3>
<h3>배열에 저장된 값은 콘솔에서 확인할 수 있음! </h3>
<form action="/once/createPersonal" method="post">

    <input type="hidden" name="start_date" th:value="${start_date}">
    <input type="hidden" name="end_date" th:value="${end_date}">
    <input type="hidden" name="start_time" th:value="${start_time}">
    <input type="hidden" name="end_time" th:value="${end_time}">
    <input type="hidden" name="urlid" th:value="${urlid}">
    <input type="hidden" name="title" th:value="${title}">
    <input type="hidden" name="name" th:value="${name}">
    <button type="submit">선택완료</button>
</form>
</tr>
</body>
</html>